/* Fondo general */
body {
  background-color: #1E90FF;  /* Azul más oscuro para mejorar el contraste */
  font-family: 'Arial', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

/* Contenedor del login */
.login-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.loading-gif {
  width: 95%;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* Formulario de login */
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 25px;
  border-radius: 10px;
}

.input-container {
  margin-bottom: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

input {
  margin-top: 5px;
  padding: 10px;
  border: 2px solid white;  /* Borde blanco para mejor contraste */
  border-radius: 5px;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.8);  /* Fondo más claro */
  color: black;  /* Texto negro dentro del input */
  width: 95%;
}

/* Botón de login */
button {
  padding: 10px 20px;
  border: none;
  background-color: white;  /* Botón blanco */
  color: black;  /* Texto del botón en negro */
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 10px;
}

button:hover {
  background-color: #f0f0f0;  /* Cambio de color al pasar el mouse */
}

button:focus {
  outline: none;
}

/* Estilos para el spinner */
.spinner-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

/* Estilo para el mensaje de error */
.error-container {
  margin-top: 20px;
}

.error {
  color: #ff4d4d;  /* Rojo más oscuro */
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  text-shadow: 1px 1px 2px black;  /* Sombra para mejorar la legibilidad */
}

/* Estilo de la imagen del GIF cuando hay un error */
.error-gif {
  width: 200px;
  border-radius: 10px;
  margin-top: 10px;
}
