/* Fondo general */
body {
  background-image: url('./assets/fondo.jpeg'); /* Cambia la ruta por la de tu imagen */
  background-size: cover;  /* Asegura que la imagen cubra todo el contenedor */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* No repite la imagen */
  background-color: #1E90FF;  /* Azul más oscuro para mejorar el contraste */
  font-family: 'Arial', sans-serif;
  text-align: center;
  margin: 0;
  overflow-y: auto;  /* Permite el scroll vertical */
  padding: 0;
  height: 100vh;  /* Altura completa de la ventana */
  display: flex;
  justify-content: center;
width: 100%;
  align-items: center;
}
html {
  height: 100%;
  overflow-y: auto;  /* Permite el scroll vertical */
  margin: 0;
  padding: 0;
  background-color: #1E90FF;  /* Azul más oscuro */
  font-family: 'Arial', sans-serif;
}

.imagen-categorias {
  width: 20%;  /* Ajusta el tamaño de la imagen */
  display: block;  /* Asegurar que se comporte como bloque */
  margin: 20px auto;  /* Centrar la imagen horizontalmente */
  border-radius: 10px;
  margin-top: 20px;;  /* Opcional, para esquinas redondeadas */
}

.container {
  height: 100vh;  /* Ocupa la altura completa de la ventana */
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.categoria-titulo {
  margin-bottom: 15px;
  font-size: 1rem;
  font-weight: bold;
}

/* Estilos del grid */
.categorias-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);  /* Tres columnas por defecto */
  gap: 20px;  /* Espacio entre las tarjetas */
  padding: 20px;
}

/* Estilos responsivos para pantallas más pequeñas (móviles) */
@media (max-width: 768px) {
  .categorias-grid {
    grid-template-columns: repeat(2, 1fr);  /* Dos columnas en pantallas más pequeñas */
    gap: 15px;  /* Reducimos el espacio entre tarjetas en pantallas pequeñas */
  }

  .categoria-tarjeta {
    height: 200px;  /* Ajustamos la altura de las tarjetas en móviles */
  }

  .categoria-tarjeta h2 {
    font-size: 1.5rem;  /* Reducimos el tamaño del texto para móviles */
    word-wrap: break-word;  /* Aseguramos que el texto no se salga */
  }
}

/* Estilos responsivos para pantallas extremadamente pequeñas (menos de 480px) */
@media (max-width: 480px) {
  .categorias-grid {
    grid-template-columns: repeat(2, 1fr);  /* Mantener dos columnas en móviles pequeños */
  }

  .categoria-tarjeta {
    height: 180px;  /* Reducimos más la altura en móviles pequeños */
  }

  .categoria-tarjeta h2 {
    font-size: 1.5rem;  /* Texto un poco más pequeño para pantallas muy pequeñas */
  }
}

/* Estilos de la tarjeta y animación flip */
.categoria-tarjeta {
  position: relative;
  width: 100%;
  height: 250px;  /* Altura fija para las tarjetas */
  background-color: white;  /* Cambiado dinámicamente en el JSX */
  border-radius: 15px;  /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  /* Sombra para el contenedor */
  transform-style: preserve-3d;  /* Para permitir el efecto de flip 3D */
  transition: transform 0.8s ease;
  cursor: pointer;
}

.flipped {
  transform: rotateY(180deg);  /* Gira la tarjeta cuando tiene la clase 'flipped' */
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;  /* Ocultar la parte posterior cuando está girada */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 15px;  /* Mantener bordes redondeados al girar */
}

.card-front {
  background-color: white; /* Fondo de la parte frontal */
}

.card-back {
  transform: rotateY(180deg);  /* Rotar la parte trasera 180 grados */
  background-color: #f9f9f9;  /* Fondo para la parte trasera */
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-actions {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

/* Estilos para el overlay del modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Estilos del modal */
.modal {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 90%;  /* Ajustar el ancho a un 90% del contenedor */
  max-width: 400px;  /* Ancho máximo para el modal */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.modal h2 {
  margin-bottom: 20px;
  font-size: 1.2rem; /* Ajustar tamaño de fuente */
}

/* Estilos de los inputs */
.modal select {
  width: 90%;  /* Reducir el ancho al 90% */
  padding: 10px;
  margin-bottom: 15px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;  /* Asegurar que el padding no afecte el tamaño total */
}

.modal input {
  width: 90%;  /* Reducir el ancho al 90% */
  padding: 10px;
  margin-bottom: 15px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;  /* Asegurar que el padding no afecte el tamaño total */
}

/* Estilos para los botones */
.modal-actions {
  display: flex;
  justify-content: space-between;
}

.modal-actions .logButtonClose {
  background-color: #ed3333; /* Color verde */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.modal-actions .logButtonClose:hover {
  background-color: #962626;
}

.modal-actions .logButton {
  background-color: #4CAF50; /* Color verde */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.modal-actions .logButton:hover {
  background-color: #387d3b;
}

.modal-actions .logButton:first-child {
  margin-right: 10px;
}




.comenzar-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 20px;
}

.comenzar-button:hover {
  background-color: #45a049;
}




/* Contenedor del login */
.login-container {
  width: 100%;
  max-width: 400px;  /* Tamaño máximo del contenedor en pantallas grandes */
  padding: 20px;
  background-color: rgba(81, 165, 255, 0.95);  /* Fondo semitransparente */
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.8);  /* Sombra para mejorar la apariencia */
}

/* Formulario de login */
.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.input-container {
  margin-bottom: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.powerby{
  margin-top: 30px;
  color:white;
}

.logButton{
  background-color: white;
  color: black;
  
}
.logButton:hover{
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  
}
.login-BG {
  background-image: url('./assets/background-image.png'); /* Cambia la ruta por la de tu imagen */
  background-size: cover;  /* Asegura que la imagen cubra todo el contenedor */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* No repite la imagen */
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  margin-top: 5px;
  padding: 10px;
  border: 2px solid white;  /* Borde blanco para mejor contraste */
  border-radius: 5px;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.8);  /* Fondo más claro */
  color: black;  /* Texto negro dentro del input */
  width: 92%;
}

/* Botón de login */
button {
  padding: 10px 20px;
  border: none;
  background-color: white;  /* Botón blanco */
  color: #f0f0f0;  /* Texto del botón en negro */
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 10px;
}

button:hover {
  background-color: black;  /* Cambio de color al pasar el mouse */
}

button:focus {
  outline: none;
}

/* Estilos para el GIF de carga */
.loading-gif {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* Estilos para el spinner */
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilo para el mensaje de error */
.error-container {
  margin-top: 20px;
}

.error {
  color: #ff4d4d;  /* Rojo más oscuro */
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  text-shadow: 1px 1px 2px black;  /* Sombra para mejorar la legibilidad */
}

/* Estilo de la imagen del GIF cuando hay un error */
.error-gif {
  width: 200px;
  border-radius: 10px;
  margin-top: 10px;
}
.capyLog {
  width: 300px;
  border-radius: 10px;
  margin-top: 10px;
}

/* Estilos responsivos para pantallas más pequeñas */
@media (max-width: 768px) {
  .login-container {
    max-width: 90%;  /* El contenedor ocupará el 90% del ancho en móviles */
    padding: 15px;   /* Reducir el padding en pantallas pequeñas */
    margin-left: 7px;
  }

  .capyLog {
    width: 250px;
    border-radius: 10px;
    margin-top: 10px;
  }

  input {
    font-size: 0.9rem;  /* Disminuir ligeramente el tamaño del texto en los inputs */
  }

  button {
    font-size: 0.9rem;  /* Botón un poco más pequeño en móviles */
    padding: 8px 15px;  /* Reducir el padding del botón */
  }

  .error {
    font-size: 1.2rem;  /* Hacer el texto del error un poco más pequeño en móviles */
  }
}
